/* Global styling  */
body
{
    margin: 0px;
}
/* set the text properties */
h1,h2,h3,h4,h5,h6
{
    font-family: 'Montserrate',sans-serif;
}
p,a,li
{
    font-size: 1.5em;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    margin: 0px;
}

/* css for mast head of the website */
.masthead
{
    height: 80vh;
    background-image: url("../Img/masthead.jpg");
    background-size: cover;
}

.masthead > div
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.5);
}

.masthead > div > h1
{
    color: #f4f4f4;
    font-size: 3.5em;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(129, 16, 129);
}

/* css  for main song lyrics */
main
{
    background-color: #f4f4f4;
}
section.song
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.song > div
{
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center ;
}
section.song > div >div
{
    width: 100%;
}

section.song > div > div > p
{
    padding: 10px 5px;
    margin-left: 20em;
    width: 50%;
    margin: 0 auto;
}

/* css for the first versre of the song */
section.song > div.firstVerse > div > p
{
    display: flex;
    flex-direction: column;
}
/* para 1 */
section.song > div.firstVerse > div:nth-child(1)
{
    background-color: #222222; 
}
section.song > div.firstVerse > div:nth-child(1) > p
{
    font-family: 'Merriweather', serif;
    color: #b5e1f0;
}
section.song > div.firstVerse > div:nth-child(1) > p  >span
{
    color: #f4f4f4;
    background: linear-gradient(180deg,#6c526d,#811081);  
    /* text-shadow: 0 0 6px #811081; */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.8em;
    margin: 0 0 0 5em;
    transition: all 0.5s;
}
section.song > div.firstVerse > div:nth-child(1):hover > p  >span
{
    font-size: 2.1em;
}



/* para 2 */
section.song > div.firstVerse > div:nth-child(2)
{

    background-color: #f5f5d1;
}
section.song > div.firstVerse > div:nth-child(2) > p
{
    font-family: 'Playfair Display', serif;
    color: #fa4967;
    letter-spacing: 2px;
}
section.song > div.firstVerse > div:nth-child(2) > p  >span
{
    font-size: 30px;
    margin: 0 0 0 1em;
    transition: all 0.5s;
}
section.song > div.firstVerse > div:nth-child(2):hover > p  >span
{
    font-size: 1.6em;
    color: #f43b59;
    text-shadow: 2px 1px 1px rgb(129, 16, 103);
}

/* para 3 */
section.song > div.firstVerse > div:nth-child(3)
{
    background-color: #969393;
}
section.song > div.firstVerse > div:nth-child(3) > p
{
    font-family: 'Indie Flower', cursive;
    line-height: 1.1;
    letter-spacing: 1px;
    text-shadow: 2px 1px rgba(0, 0, 0,0.2);
    
}
section.song > div.firstVerse > div:nth-child(3) > p  >span
{
    transition: all 0.4s;

}
section.song > div.firstVerse > div:nth-child(3) > p  >span:nth-child(1)
{
    font-size: 25px;
    margin: 0 0 0 1em;
}
section.song > div.firstVerse > div:nth-child(3) > p  >span:nth-child(2)
{
    font-size: 40px;
    margin: 0 0 0 0em;
    font-weight: 400;
}
section.song > div.firstVerse > div:nth-child(3) > p  >span:nth-child(2) >span
{
    font-family: 'Martian Mono', monospace;
    font-size: 20px;
    margin: 0 0 0 0em;
}
section.song > div.firstVerse > div:nth-child(3) > p  >span:nth-child(3)
{
    font-size: 30px;
    margin: 0 0 0 1em;
}
section.song > div.firstVerse > div:nth-child(3):hover > p  >span:nth-child(3)
{
    font-size: 1.4em;
    text-shadow: 2px 1px 1px rgb(129, 16, 103);
}
section.song > div.firstVerse > div:nth-child(3):hover > p  >span:nth-child(1)
{
    font-size: .8em;
}

/* para 4 */
section.song > div.firstVerse > div:nth-child(4)
{

    background-color: #3366cc;
}
section.song > div.firstVerse > div:nth-child(4) > p
{
    font-family: 'Martian Mono', monospace;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    transition: all 0.4s;

}
section.song > div.firstVerse > div:nth-child(4):hover > p 
{
    word-spacing: 10px;
}

/* para 5 */
section.song > div.firstVerse > div:nth-child(5)
{

    background-color: #fce4ec;
}
section.song > div.firstVerse > div:nth-child(5) > p
{
    font-family: 'Quicksand', sans-serif;
    line-height: 1.2;
}
section.song > div.firstVerse > div:nth-child(5) > p  span
{
    transition: all 0.6s;
}
section.song > div.firstVerse > div:nth-child(5) > p  >span:nth-child(1)
{
    background-color: #eac1cf;
    font-size: 30px;
    margin: 0 0 0 1em;
    color: #cf6679;
}
section.song > div.firstVerse > div:nth-child(5) > p  >span:nth-child(2)
{
    color: #008f7a;
    background-color: #e0f2f1;
    font-size: 40px;
    margin: 0 0 0 0em;
    font-weight: bold;
}
section.song > div.firstVerse > div:nth-child(5) > p  >span:nth-child(2) >span
{
    font-family: 'Martian Mono', monospace;
    background-color: #b2dfdb;
    font-size: small;
    margin: 0 0 0 0em;
    vertical-align: super;
}
section.song > div.firstVerse > div:nth-child(5) > p  >span:nth-child(3)
{
    color: #008f7a;
    background-color: #b2dfdb;
    font-size: 30px;
    margin: 0 0 0 1em;
    letter-spacing: 2px;
}

section.song > div.firstVerse > div:nth-child(5):hover > p  >span:nth-child(1)
{
    background-color: #cf6679;
    color: #eac1cf;
}
section.song > div.firstVerse > div:nth-child(5):hover > p  >span:nth-child(2) > span
{
    font-size: 20px;
}
section.song > div.firstVerse > div:nth-child(5):hover > p  >span:nth-child(3)
{
    letter-spacing: 8px;
}

/* para 6 */
section.song > div.firstVerse > div:nth-child(6)
{
    background: linear-gradient(90deg,#10808f,#e0f7fa);
    background: linear-gradient(90deg,#0f7f8e,#e0f7fa);
}
section.song > div.firstVerse > div:nth-child(6) > p
{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}
section.song > div.firstVerse > div:nth-child(6) > p  span
{
    transition: all 0.5s;
}
section.song > div.firstVerse > div:nth-child(6) > p  >span:nth-child(1)
{
    font-size: 30px;
    color: #ffa999;
}
section.song > div.firstVerse > div:nth-child(6) > p  >span:nth-child(2)
{
    color: #ffa999;
    font-size: 40px;
    margin: 0 0 0 1em;
    font-weight: 700;
    display: flex;
}
section.song > div.firstVerse > div:nth-child(6) > p  >span:nth-child(2) >span
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

section.song > div.firstVerse > div:nth-child(6) > p  >span:nth-child(3)
{
    color: #ffecc5;
    font-size: 30px;
    margin: 0 0 0 2em;
    letter-spacing: 2px;
}
section.song > div.firstVerse > div:nth-child(6):hover > p  >span:nth-child(3)
{
    color: #ffa999;
}
section.song > div.firstVerse > div:nth-child(6):hover > p  >span:nth-child(1),
section.song > div.firstVerse > div:nth-child(6):hover > p  >span:nth-child(2)
{
    color: #ffecc5;
}

/* para 7 */
section.song > div.firstVerse > div:nth-child(7)
{
    background-color: #00796b;
}
section.song > div.firstVerse > div:nth-child(7) > p
{
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    transition: all 0.6s;
    font-size: 1.2em;
}
section.song > div.firstVerse > div:nth-child(7) > p > span
{
    color: #c4dce4;
    text-shadow: -4px 3px 3px #021c08;
    margin: 0 0 0 12em;
    transition: all 0.6s;
}
section.song > div.firstVerse > div:nth-child(7):hover > p > span
{
    text-shadow: 6px 3px 3px #021c08;
}
section.song > div.firstVerse > div:nth-child(7):hover > p 
{
    text-shadow: -1px -1px 5px #c4dce4;
}

/* para 8 */
section.song > div.firstVerse > div:nth-child(8)
{
    background-color: #dff3fc;
}
section.song > div.firstVerse > div:nth-child(8) > p
{
    font-family: 'Josefin', serif;
    letter-spacing: 1px;
    line-height: 1;
}
section.song > div.firstVerse > div:nth-child(8) > p  >span:nth-child(1)
{
    transition: all 1s;
    font-size: 30px;
    color: #5ebcef;
    margin: 0 0 0 1em;
}
section.song > div.firstVerse > div:nth-child(8) > p  >span:nth-child(2)
{
    transition: all 0.6s;
    color: #3f97c7;
    font-size: 40px;
    margin: 0 0 0 1.5em;
    font-weight: 700;
    display: flex;
}
section.song > div.firstVerse > div:nth-child(8) > p  >span:nth-child(2) >span
{
    font-size: 20px;
    font-weight: 700;
}

section.song > div.firstVerse > div:nth-child(8) > p  >span:nth-child(3)
{
    transition: all 0.4s;
    color: #1d5383;
    font-size: 40px;
    letter-spacing: 2px;
}
section.song > div.firstVerse > div:nth-child(8):hover > p  >span:nth-child(1)
{
    transform: scale(1,1.5);
}
section.song > div.firstVerse > div:nth-child(8):hover > p  >span:nth-child(2)
{
    word-spacing: 10px;
}
section.song > div.firstVerse > div:nth-child(8):hover > p  >span:nth-child(3)
{
    transform: rotate(-3deg);
}

/* css for the second verser */
/* para 1  */
section.song > div.secondVerse 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.song > div.secondVerse >div > p span
{
    transition: all .6s;
}
section.song > div.secondVerse >div
{
    padding: 10px 0;    
}
section.song > div.secondVerse >div:nth-child(1) > p
{
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    flex-direction: column; 
    background: linear-gradient(1800deg, red, yellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #f4f4f4;
}
section.song > div.secondVerse > div:nth-child(1)> p > span:nth-child(1)
{
    font-size: 16px;
}
section.song > div.secondVerse > div:nth-child(1) > p > span:nth-child(2)
{
    font-size: 29px;
    margin: 0 0 0 21px;
}
section.song > div.secondVerse > div:nth-child(1) > p > span:nth-child(3)
{
    font-size: 23px;
    margin: 0 0 0 21px;
    font-weight: 300;
}
section.song > div.secondVerse > div:nth-child(1):hover> p > span:nth-child(1)
{
    font-size: 1.1em;
}
section.song > div.secondVerse > div:nth-child(1):hover> p > span:nth-child(2)
{
    word-spacing: 20px;
}
section.song > div.secondVerse > div:nth-child(1):hover> p > span:nth-child(3) > span
{
    font-size: 1.5em;
}
/* para 2 */
section.song > div.secondVerse >div:nth-child(2) > p 
{
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    flex-direction: column;    
    background: linear-gradient(180deg, lightpink, rgb(252, 189, 81));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #f4f4f4;
}
section.song > div.secondVerse >div:nth-child(2) > p > span:nth-child(1)
{
    font-size: 16px;
}
section.song > div.secondVerse >div:nth-child(2) > p > span:nth-child(2)
{
    font-size: 40px;
    margin: 0 0 0 21px;
}
section.song > div.secondVerse >div:nth-child(2) > p > span:nth-child(3)
{
    font-size: 16px;
    word-spacing: 72px;
    margin: 0 0 0 21px;
}
section.song > div.secondVerse >div:nth-child(2) > p > span:nth-child(4)
{
    font-size: 35px;
    word-spacing: 72px;
    margin: 0 0 0 21px;
}

section.song > div.secondVerse > div:nth-child(2):hover> p > span:nth-child(2)
{
    font-size: 2.2em;
}

section.song > div.secondVerse > div:nth-child(2):hover> p > span:nth-child(4) 
{
    font-size: 2.2em;
}
/* para 3 */
section.song > div.secondVerse >div:nth-child(3) > p 
{
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    flex-direction: column;    
    background: linear-gradient(180deg, rgb(0, 123, 255), rgb(122, 7, 150));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
section.song > div.secondVerse >div:nth-child(3) > p > span:nth-child(1)
{
    font-size: 21px;
    margin: 0 0 0 21px;
}
section.song > div.secondVerse >div:nth-child(3) > p > span:nth-child(2)
{
    font-family: 'Martian Mono', monospace;
    font-size: 21px;
    margin: 0 0 0 41px;
}
section.song > div.secondVerse >div:nth-child(3) > p > span:nth-child(3)
{
    font-size: 40px;
}
section.song > div.secondVerse >div:nth-child(3) > p > span:nth-child(4) > span
{
    font-family: 'Martian Mono', monospace;
    font-size: 21px;
    vertical-align: super;
}
section.song > div.secondVerse >div:nth-child(3) > p > span:nth-child(4)
{
    font-size: 40px;
    margin: 0 0 0 61px;
}
section.song > div.secondVerse >div:nth-child(3) > p > span:nth-child(5)
{
    font-family: 'Martian Mono', monospace;
    font-weight: 600;
    font-size: 35px;
    margin: 0 0 0 11px;
}

section.song > div.secondVerse > div:nth-child(3):hover> p > span:nth-child(2)
{
    word-spacing: 10px;
    color: #00796b;
}

section.song > div.secondVerse > div:nth-child(3):hover> p > span:nth-child(5) 
{
    font-size: 1em;
}

/* css for verse 3 */
/* para 1 */
section.song > div.secondVerseTwo >div:nth-child(1) > p, 
section.song > div.secondVerseTwo >div:nth-child(2) > p, 
section.song > div.secondVerseTwo >div:nth-child(3) > p 
{
    -webkit-text-fill-color: #f4f4f4;
    -webkit-background-clip: unset;
    background: none;
    text-shadow: 2px 2px 3px rgb(52 58 53);
}
section.song > div.secondVerseTwo >div:nth-child(1) 
{
    background: linear-gradient(1800deg, red, yellow);
}
section.song > div.secondVerseTwo >div:nth-child(2) 
{
    background: linear-gradient(180deg, lightpink, rgb(252, 189, 81));
}
section.song > div.secondVerseTwo >div:nth-child(3) 
{
    background: linear-gradient(180deg, rgb(0, 123, 255), rgb(122, 7, 150));
}

/* css for third verser */
/* para 1 */
section.song > div.thirdVerse > div > p  span
{
    transition: all .5s;
}
section.song > div.thirdVerse > div:nth-child(1) 
{
    background-color: #f2e9df;
}
section.song > div.thirdVerse > div:nth-child(1) > p
{
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    line-height: 1;
}
section.song > div.thirdVerse > div:nth-child(1) > p  
{
    font-size: 30px;
    color: #947262;
}
section.song > div.thirdVerse > div:nth-child(1) > p  >span
{
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: 1px 0 3px rgb(52 58 53);
}
section.song > div.thirdVerse > div:nth-child(1):hover > p  >span
{
    font-size: 1.5em;
}

/* para 2 */
section.song > div.thirdVerse > div:nth-child(2) 
{
    background-color: #e3e4fa;
}
section.song > div.thirdVerse > div:nth-child(2) > p
{
    font-family: 'Open Sans', serif;
    letter-spacing: 1px;
    color: #6d7fcc;
    font-size: 25px;
    display: flex;
    line-height: .9;
    flex-direction: column;
}
section.song > div.thirdVerse > div:nth-child(2) > p  >span:nth-child(2)
{
    color: #836fff;
    font-size: 50px;
    font-weight: 500;
    margin: 0 0 0 1em;
    display: flex;
    align-items: center;
}
section.song > div.thirdVerse > div:nth-child(2) > p  >span:nth-child(2) >span
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
section.song > div.thirdVerse > div:nth-child(2) > p  >span:nth-child(3)
{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 0 .5em;
}
section.song > div.thirdVerse > div:nth-child(2):hover > p  >span:nth-child(2) > span
{
    margin: 0 0 0 10px;
}
section.song > div.thirdVerse > div:nth-child(2):hover > p  >span:nth-child(3) 
{
    transform: rotate(1deg);
}

/* para 3 */
section.song > div.thirdVerse > div:nth-child(3) 
{
    background-color: #e1ecf4;
}
section.song > div.thirdVerse > div:nth-child(3) > p
{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    color: #3eb0ef;
    font-size: 25px;
    display: flex;
    line-height: .9;
    flex-direction: column;
}
section.song > div.thirdVerse > div:nth-child(3) > p  >span:nth-child(1)
{
    color: #4aceeb;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 0 1em;
    display: flex;
    align-items: center;
}
section.song > div.thirdVerse > div:nth-child(3) > p  >span:nth-child(2)
{
    color: #4aceeb;
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 0 1em;
    display: flex;
    align-items: center;
}
section.song > div.thirdVerse > div:nth-child(3) > p  >span:nth-child(3)
{
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 0 .5em;
}
section.song > div.thirdVerse > div:nth-child(3) > p  >span:nth-child(3) >span
{
    background:linear-gradient(180deg,rgb(101, 159, 239),rgb(33, 160, 33)) ;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 0 .5em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
section.song > div.thirdVerse > div:nth-child(3):hover > p  >span:nth-child(1)
{
    letter-spacing: 5px;
}
section.song > div.thirdVerse > div:nth-child(3):hover > p  >span:nth-child(2)
{
    color: #357fc0;
}
section.song > div.thirdVerse > div:nth-child(3):hover > p  >span:nth-child(3) >span
{
    font-size: 2em;
}

/* para 4 */
section.song > div.thirdVerse > div:nth-child(4) 
{
    background-color: #f5f1ec;
}
section.song > div.thirdVerse > div:nth-child(4) > p
{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: #b59b83;
    font-size: 25px;
    display: flex;
    line-height: 1.1;
    flex-direction: column;
}
section.song > div.thirdVerse > div:nth-child(4) > p  >span:nth-child(1)
{
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 0 1em;
}
section.song > div.thirdVerse > div:nth-child(4) > p  >span:nth-child(2)
{
    color: #c8bca4;
    font-size: 40px;
    font-weight: 500;
}

section.song > div.thirdVerse > div:nth-child(4) > p  >span > span
{
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
}
section.song > div.thirdVerse > div:nth-child(4):hover > p  >span > span
{
    color: rgb(165, 95, 42);
    margin: 0 10px;
}

/* para 5 */
section.song > div.thirdVerse > div:nth-child(5) 
{
    background-color: #f1fcfa;
}
section.song > div.thirdVerse > div:nth-child(5) > p
{
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    display: flex;
    line-height: .9;
    flex-direction: column;
}
section.song > div.thirdVerse > div:nth-child(5) > p  >span:nth-child(1)
{
    color: #59b09d;
    font-size: 25px;
    font-weight: 300;
    margin: 0 0 0 1em;
}
section.song > div.thirdVerse > div:nth-child(5) > p  >span:nth-child(2)
{
    color: #6cbeac;
    word-spacing: 2px;
    font-size: 30px;
    font-weight: 500;
}
section.song > div.thirdVerse > div:nth-child(5) > p  >span:nth-child(3)
{
    background:linear-gradient(180deg,#8ce0cf,#00796b) ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 3px;
}
section.song > div.thirdVerse > div:nth-child(5):hover > p  >span:nth-child(1)
{
    font-weight: 500;
}
section.song > div.thirdVerse > div:nth-child(5):hover > p  >span:nth-child(2)
{
    font-weight: 300;
}
section.song > div.thirdVerse > div:nth-child(5):hover > p  >span:nth-child(3)
{
    letter-spacing: 2px;
}
/* para 6 */
section.song > div.thirdVerse > div:nth-child(6) 
{
    background-color: #e9f7ef;
}
section.song > div.thirdVerse > div:nth-child(6) > p
{
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 25px;
    display: flex;
    line-height: .9;
    flex-direction: column;
}
section.song > div.thirdVerse > div:nth-child(6) > p  >span:nth-child(1)
{
    font-family: 'Rubik', sans-serif;
    color: #689F81;
    text-shadow:  3px 2px 2px rgba(58 ,179 ,101 ,50%);
    
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 0 1em;
}
section.song > div.thirdVerse > div:nth-child(6) > p  >span:nth-child(2)
{
    color: #76B092;
    word-spacing: 2px;
    font-size: 30px;
    font-weight: 300;
}
section.song > div.thirdVerse > div:nth-child(6):hover > p  >span:nth-child(1)
{
    text-shadow: -3px 2px 2px rgba(58 ,179 ,101 ,50%);
}
section.song > div.thirdVerse > div:nth-child(6):hover > p  >span:nth-child(2)
{
    color: #058f48;
}

/* para 7 */
section.song > div.thirdVerse > div:nth-child(7) 
{
    background-color: #fef5e7;
}
section.song > div.thirdVerse > div:nth-child(7) > p
{
    font-family: 'Indie Flower', cursive;
    letter-spacing: 1px;
    font-size: 25px;
    display: flex;
    line-height: 1.2;
    flex-direction: column;
}
section.song > div.thirdVerse > div:nth-child(7) > p  >span:nth-child(1)
{
    color: #f2711c;
    font-size: 25px;
}
section.song > div.thirdVerse > div:nth-child(7) > p  >span:nth-child(2)
{
    font-family: 'Rubik', sans-serif;
    color: #f38229;
    font-weight: 500;
    word-spacing: 2px;
    margin: 0 0 0 1em;
    font-size: 30px;
}
section.song > div.thirdVerse > div:nth-child(7):hover > p  >span:nth-child(2)
{
    text-transform: capitalize;
    word-spacing: 10px;
}

/* para 8 */
section.song > div.thirdVerse > div:nth-child(8) 
{
    background-color: #ffd9e9;
}
section.song > div.thirdVerse > div:nth-child(8) > p
{
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 25px;
    line-height: .9;
}
section.song > div.thirdVerse > div:nth-child(8) > p  
{
    
    color: #f76291;
    font-size: 25px;
    font-weight: 300;
}
section.song > div.thirdVerse > div:nth-child(8) > p  >span
{
    font-family: 'Rubik', sans-serif;
    text-shadow:  3px 2px 2px rgba(58 ,179 ,101 ,50%);
    color: #ff5a79;
    word-spacing: 2px;
    font-size: 30px;
    font-weight: 500;
}
section.song > div.thirdVerse > div:nth-child(8):hover > p  >span
{
    font-size: 1.5em;
}

/* css for forth verse */


/* css for final verse */
/* para 1 */
section.song > div.finalVerse > div:nth-child(1) 
{
    background-color: #fbf7e9;
}
section.song > div.finalVerse > div:nth-child(1) > p
{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    display: flex;
    line-height: .9;
    flex-direction: column;
}
section.song > div.finalVerse > div > p  span
{
    transition: all .5s;
}
section.song > div.finalVerse > div:nth-child(1) > p  >span:nth-child(1)
{
    color: #e3b866;
    font-size: 25px;
}
section.song > div.finalVerse > div:nth-child(1) > p  >span:nth-child(2)
{
    color: #d6a552;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 0 0 0 1em;
    word-spacing: 2px;
    font-size: 30px;
}
section.song > div.finalVerse > div:nth-child(1) > p  >span:nth-child(3)
{
    color: #c8913e;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    word-spacing: 2px;
    font-size: 30px;
}
/* para 2 */
section.song > div.finalVerse > div:nth-child(2) 
{
    background-color: #eff7e9;
}
section.song > div.finalVerse > div:nth-child(2) > p
{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    display: flex;
    line-height: .9;
    flex-direction: column;
}
section.song > div.finalVerse > div:nth-child(2) > p  >span:nth-child(1)
{
    font-size: 25px;
    color: #a7c8a3;
}
section.song > div.finalVerse > div:nth-child(2) > p  >span:nth-child(2)
{
    font-family: 'Rubik', sans-serif;
    color: #8baa8f;
    font-weight: 500;
    margin: 0 0 0 1em;
    word-spacing: 10px;
    font-size: 30px;
}
section.song > div.finalVerse > div:nth-child(2) > p  >span:nth-child(3)
{
    font-family: 'Rubik', sans-serif;
    color: #526a66;
    font-weight: 500;
    word-spacing: 2px;
    letter-spacing: 5px;
    margin: 0 0 0 2em;
    font-size: 30px;
}


/* para 3 */
section.song > div.finalVerse > div:nth-child(3) 
{
    background-color: #e0eaf7;
}
section.song > div.finalVerse > div:nth-child(3) > p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    display: flex;
    line-height: .9;
    flex-direction: column;
}
section.song > div.finalVerse > div:nth-child(3) > p  >span:nth-child(1)
{
    letter-spacing: 3px;
    color: #a3bacf;
    font-size: 25px;
}
section.song > div.finalVerse > div:nth-child(3) > p  >span:nth-child(2)
{
    font-family: 'Rubik', sans-serif;
    color: #8fa1af;
    font-weight: 500;
    margin: 0 0 0 2em;
    letter-spacing: 5px;
    word-spacing: 15px;
    font-size: 30px;
}
section.song > div.finalVerse > div:nth-child(3) > p  >span:nth-child(3)
{
    font-family: 'Rubik', sans-serif;
    color: #7b8faf;
    font-weight: 500;
    letter-spacing: 10px;
    margin: 0 0 0 3em;
    font-size: 30px;
}


/* para 4 */
section.song > div.finalVerse > div:nth-child(4) 
{
    background-color: #edecec;
}
section.song > div.finalVerse > div:nth-child(4) > p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    display: flex;
    line-height: .9;
    flex-direction: column;
}
section.song > div.finalVerse > div:nth-child(4) > p  >span:nth-child(1)
{
    letter-spacing: 5px;
    color: #b3b3b3;
    font-size: 25px;
}
section.song > div.finalVerse > div:nth-child(4) > p  >span:nth-child(2)
{
    font-family: 'Rubik', sans-serif;
    color: #787878;
    font-weight: 500;
    margin: 0 0 0 2em;
    letter-spacing: 15px;
    font-size: 30px;
}

section.song > div.finalVerse > div:nth-child(1):hover > p  >span:nth-child(2),
section.song > div.finalVerse > div:nth-child(2):hover > p  >span:nth-child(2),
section.song > div.finalVerse > div:nth-child(3):hover > p  >span:nth-child(2),
section.song > div.finalVerse > div:nth-child(4):hover > p  >span:nth-child(2)
{
    font-size: 1.6em;
}
section.song > div.finalVerse > div:nth-child(1):hover > p  >span:nth-child(3),
section.song > div.finalVerse > div:nth-child(2):hover > p  >span:nth-child(3),
section.song > div.finalVerse > div:nth-child(3):hover > p  >span:nth-child(3)
{
    font-size: 1.8em;
}
